<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
  <title>Products Viewer</title>
</head>

<body>
  <div id="app">
    <header>
      <div class="container">
        <div class="hero is-info is-bold">
          <div class="hero-body">
            <h1 class="is-size-1">Azure Resources</h1>
          </div>
        </div>
      </div>
    </header>
    <section class="section">
      <div class="container">
        {% for category, products in products_by_category.items() %}
        <h2 class="is-size-3">{{ category }}</h2>
        <table class="table is-fullwidth is-striped">
          <thead>
            <tr>
              <th>Icon</th>
              <th>Product Name</th>
            </tr>
          </thead>
          <tbody>
            {% for product in products %}
            <tr>
              <td class="has-text-centered">
                <img src="{{ product.folder }}" alt="{{ product.product_name }}" width="40" height="40" />
              </td>
              <td>
                {{ product.product_name }}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% endfor %}
      </div>
    </section>
  </div>
</body>

</html>
